{% extends 'base.html.twig' %}

{% block title %}
<title>Main page</title>
{% endblock %}

{% block body %}
    <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Hello! {{ app.user.name }}</h1>
        {% else %}
        <h1>Hello guest!</h1>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}

{% endblock %}