{% extends 'base.html.twig' %}
{% block title %}<title>Admin page</title>{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <h1>hello admin!!!!</h1>
    </div>
    </body>
{% endblock %}
